[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
[submodule "public"]
	path = public
	url = https://github.com/zheckert/zachheckertblog.github.io.git
	branch = main
